@page "/{author}/MyTimeline"
@model Chirp.Razor.Pages.MyTimelineModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

<div>
    <h2> @routeName's Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                <p>
                    <strong>
                        <a href="/@cheep.Author">@cheep.Author</a>
                    </strong>
                    @cheep.Message
                    <small>&mdash; @cheep.Timestamp</small>
                    
                    @if(User.Identity.IsAuthenticated){
                        <form method="post" asp-page-handler="Delete" onsubmit="return confirm('Are you sure you want to delete this cheep?');">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="cheepID" value="@cheep.CheepId" />
                            <button type="submit" title="Delete Cheep">Delete</button>
                        </form>
                    }
                </p>
            </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
